<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account ERP | Login</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="up">
        <div class="nav">
            <div class="logoall">
                <a href="/"><h1>Account</h1></a>
                <a class="logo" href="/">
                    <img class="logo" src="logo.png" alt="Home">
                </a>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="#">Registrations</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/creg">Company Registration</a>
                            </li>
                            <li>
                                <a href="/dreg">Director Registration</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">File Uploads</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/dfload">Director File Upload</a>
                            </li>
                            <li>
                                <a href="/ofload">Other File Upload</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Details</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/cdreg">Company Details</a>
                            </li>
                            <li>
                                <a href="/qpage">Quotation Details</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="/signup"><button id="button1">Sign Up</button></a>
            <a href="/login"><button>Log In</button></a>
        </div>
    </header>
    <main>
        <div class="wrapper1">
            <form action="/dfload" method="post" enctype="multipart/form-data">
                <div class="wrapper-creg">
                    <h1>Director File Uploads</h1>
                    <div class="fI">
                        <label for="fI">PAN</label>
                        <input type="file" id="fI" name="PAN" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI">
                        <label for="fI">Passport</label>
                        <input type="file" id="fI" name="Passport" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI">
                        <label for="fI">Driving Lic.</label>
                        <input type="file" id="fI" name="DrLic" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI">
                        <label for="fI">Voting Card</label>
                        <input type="file" id="fI" name="VotingCard" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI">
                        <label for="fI">Bank History</label>
                        <input type="file" id="fI" name="bankHistory" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI">
                        <label for="fI">Light Bill</label>
                        <input type="file" id="fI" name="LightBill" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI">
                        <label for="fI">Photo</label>
                        <input type="file" id="fI" name="photo" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI">
                        <label for="fI">Director Sign</label>
                        <input type="file" id="fI" name="sign" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <button type="submit" class="btn">Save</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>