<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account ERP | Login</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="up">
        <div class="nav">
            <div class="logoall">
                <a href="/"><h1>Account</h1></a>
                <a class="logo" href="/">
                    <img class="logo" src="logo.png" alt="Home">
                </a>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="#">Registrations</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/creg">Company</a>
                            </li>
                            <li>
                                <a href="/dreg">Director</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">File Uploads</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/dfload">Director's</a>
                            </li>
                            <li>
                                <a href="/ofload">Other Files</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Details</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/cdreg">Company</a>
                            </li>
                            <li>
                                <a href="/qpage">Quotation</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="/signup"><button id="button1">Sign Up</button></a>
            <a href="/login"><button>Log In</button></a>
        </div>
    </header>
    <main>
        <div class="wrapper1">
            <form action="/ofload" method="post" enctype="multipart/form-data">
                <div class="wrapper-creg">
                    <h1>Other File Uploads</h1>
                    <div class="fI2">
                        <label for="fI">Other Docs</label>
                        <input type="file" id="fI" name="other" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI2">
                        <label for="fI">Download NOC</label>
                        <input type="file" id="fI" name="DLNOC" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <div class="fI2">
                        <label for="fI">Upload NOC</label>
                        <input type="file" id="fI" name="ULNOC" accept=".png,.jpeg,.jpg,.pdf" required>
                    </div>
                    <button type="submit" class="btn">Save</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>