<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account ERP | Login</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="up">
        <div class="nav">
            <div class="logoall">
                <a href="/"><h1>Account</h1></a>
                <a class="logo" href="/">
                    <img class="logo" src="logo.png" alt="Home">
                </a>
            </div>
            <div class="dropdown">
                <ul>
                    <li><a href="#">Registrations</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/creg">Company</a>
                            </li>
                            <li>
                                <a href="/dreg">Director</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">File Uploads</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/dfload">Director's</a>
                            </li>
                            <li>
                                <a href="/ofload">Other Files</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Details</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="/cdreg">Company</a>
                            </li>
                            <li>
                                <a href="/qpage">Quotation</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="/signup"><button id="button1">Sign Up</button></a>
            <a href="/login"><button>Log In</button></a>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <form action="/signup" method="post">
                <h1>Sign Up</h1>
                <div class="input-box">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class='bx bxs-user'></i>                
                </div>
                <div class="input-box">
                    <input type="password" name='password' placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>                
                </div>
                <div class="input-box">
                    <input type="password" name ="cpassword" placeholder="Confirm Password" onChange="onChange()" required>
                    <i class='bx bxs-lock-alt'></i>                
                </div>
                <button type="submit" class="btn">Sign Up</button>
                <div class="register-link">
                    <p>Already have an account?
                    <a href="/login">Log in</a></p>
                </div>
            </form>
        </div>
        <script type="text/javascript">
            function onChange() {
            const password = document.querySelector('input[name=password]');
            const confirm = document.querySelector('input[name=cpassword]');
            if (confirm.value === password.value) {
                confirm.setCustomValidity('');
            } else {
                confirm.setCustomValidity('Passwords do not match');
            }
        }
        </script>
    </main>
</body>
</html>